@model IEnumerable<PillMedTech.Models.POCO.Logger>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PillMedTech.Models.POCO


<nav>
    <p>
        <a asp-controller="Account" asp-action="Login">Login</a> / <strong>Loggfil</strong>
        <a asp-controller="Account" asp-action="Logout" class="right">Logga ut</a>
    </p>
</nav>

<main>
    <h2>Loggfiler</h2>

    <table>
        <tr>
            <th>Datum</th>
            <th>AnställningsID</th>
            <th>IP-adress</th>
            <th>Händelse</th>
        </tr>
        <!-- Datainhämtning 2.4: Jobba med Razor View (Variabelnamn = automatiskt html encode för output, samt inbyggt skydd mot xss)-->
        @foreach (Logger loggning in Model)
        {
            <tr>
                <td>@loggning.Time</td>
                <td>@loggning.EmployeeId</td>
                <td>@loggning.Ip</td>
                <td>@loggning.Action</td>
            </tr>
        }
    </table>
</main>